{% extends 'base.html' %}
{% block title %}
    Boards
{% endblock title %}
{% block content %}
    <div class="container mt-5">
        <div class="text-center">
            <h1>Boards</h1>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Create New Board
              </button>
              
              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Create Board</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/boards/new" method="post">
                            <input type="text" name="name" id="" style="border: 2px solid black; border-radius: 15px;">
                            <button type="submit" class="btn btn-success">Create</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="boards">
			{% for board in boards %}
			<div class="board" onclick="redirect(`{{board._id}}`)">
				<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
					<div class="card-body">
					  <h5 class="card-title">{{board.name}}</h5>
					  <p class="card-text">Columns: {{board.columnOrder|length}} <br>Created On: {{board.created}}</p>
					</div>
				  </div>
			</div>
			{% endfor %}
        </div>
    </div>
	<script>
		function redirect(boardId) {
			window.location.href = "/boards/" + boardId;
		}
	</script>
{% endblock content %}